---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
const films = await getCollection("films");
---

<Layout pageTitle="Liste des films">
  <div class="max-w-4xl mx-auto px-4 py-6">
    <header class="mb-6">
      <h1 class="text-3xl font-bold mb-4">Liste des films</h1>
    </header>
    
    <ul class="list-disc pl-6 space-y-2">
      {films.map((film) => (
        <li>
          <a 
            href={`/films/${film.id}`} 
            class="text-blue-600 hover:underline font-medium">
            {film.data.titre}
          </a>
        </li>
      ))}
    </ul>

    <!-- 
    <pre>
      {JSON.stringify(personnes, null, 2)}
    </pre>
    -->
  </div>
</Layout>
