---
import Layout from "@layouts/Layout.astro";
---

<Layout pageTitle="Accueil">
  <div class="max-w-4xl mx-auto px-4 py-6">
 

    <header>
      <h1 class="text-3xl font-bold">Liste des films et personnes</h1>
    </header>
  </div>
</Layout>