---
import Layout from "@layouts/Layout.astro"
---

<layout pageTitle="Accueil">
	<nav>
        <ul>
            <li>
                <a href="/personnes">Liste Personnes</a>
            </li>
        </ul>
    </nav>
	<h1 class="">Oui</h1>

</layout>
